<div class="setting-container">
  <div class="setting-left"></div>

  <div class="setting-main">
    <input type="file" id="avatar" style="display:none" accept="image/*" (change)="updateProfilePic(imageAvatar.files[0]);" #imageAvatar>
    <label for="avatar">
      <img mdTooltip="Change avatar" class="profile-image" src={{userAvatar}}>
    </label>
    <span>{{userFullName}}</span>
    <br/>
    <br/>
    <br/>
    <br/>
    <md-input-container>
      <input mdInput type="text" maxlength="255" placeholder="About yourself" [(ngModel)]="userDescription">
      <md-icon mdSuffix>mode_edit</md-icon>
      <md-hint align="end">{{userDescription.length}} / 255</md-hint>
    </md-input-container>
    <br/>
    <br/>
    <md-input-container>
      <input mdInput type="email" placeholder="Email update" [(ngModel)]="userEmail">
      <md-icon mdSuffix>mode_edit</md-icon>
    </md-input-container>
    <br/>
    <br/>
    <p class="settings-label">Update password</p>
    <md-input-container>
      <input mdInput type="password" placeholder="new password" [(ngModel)]="userNewPass">
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" placeholder="verify password" [(ngModel)]="userVerifyPass">
    </md-input-container>
    <br/>

    <button md-raised-button class="change-btn" (click)="sendChanges();">Submit Changes</button>
    <br />
    <button md-raised-button color="warn" class="delete-btn" (click)="deleteAccount();">Delete account</button>
  </div>
  <!-- setting-main -->
</div>