<div class="setting-container">
  <div class="setting-left"></div>
  <div class="setting-main">
    <img class="profile-image" src={{userAvatar}} (click)="updateProfilePic();">
    <span>{{userFullName}}</span>
    <br/>
    <br/>
    <br/>
    <br/>
    <md-input-container>
      <input mdInput type="text" maxlength="255" placeholder="About yourself" [(ngModel)]="userDescription">
      <md-icon mdSuffix>mode_edit</md-icon>
      <md-hint align="end">{{userDescription.length}} / 255</md-hint>
    </md-input-container>
    <br/>
    <br/>
    <md-input-container>
      <input mdInput type="email" placeholder="Email update" [(ngModel)]="userEmail">
      <md-icon mdSuffix>mode_edit</md-icon>
    </md-input-container>
    <br/>
    <br/>
    <p class="settings-label">Update password</p>
    <md-input-container>
      <input mdInput type="password" placeholder="new password" [(ngModel)]="userNewPass">
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" placeholder="verify password" [(ngModel)]="userVerifyPass">
    </md-input-container>
    <br/>
  </div>
</div>
