.timeline-progress-bar {
    margin: 5px 0px;
    z-index: 100;
}
md-input-container {
    margin: 2px 40px;
}
textarea.timeline-post {
    resize: none;
    max-height: 40px;
}
div.timeline-container {
    position: fixed;
    top: 70px;
    bottom: 4px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
}
div.timeline-container md-card {
    margin: 25px 5px;
}
md-expansion-panel {
    padding-bottom: 0px;
}
div.timeline-following {
    order: 1;
    flex: 1 1 auto;
    flex-basis: 10%;
    height: 100%;
    overflow-y: scroll;
    min-width: 64px;
}
.timeline-left {
    margin: 50px 10px;
}
.timeline-left md-list-item {
    color: #a8a8a8;
    font-size: 14px;
}
div.timeline-main {
    order: 2;
    flex-grow: 2;
    max-width: 700px;
    min-width: 490px;
    padding: 0px 5px;
    height: 100%;
    overflow-y: scroll;
}
div.timeline-extra {
    order: 3;
    flex-grow: 1;
    flex-basis: 10%;
}
md-card-actions button {
    right: 0px;
}
div.timeline-extra .post-btn-sticky {
    position: absolute;
    bottom: 0;
    right: 5;
    padding: 0px;
    margin: 15px 0px;
    background: red;
    border-radius: 100%;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}
label.timeline-img-btn {
    cursor: pointer;
}
img.timeline-img-preview {
    margin-left: 40px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}
.post-btn-sticky > button {
    color: white;
    width: 52px;
    height: 52px;
}
button.user-search {
    margin: 10px;
    width: 65%;
}
.follow-user {
    cursor: pointer;
}
.follow-user  a {
    padding: 10px;
}