<md-progress-bar *ngIf="showLoadingBar" class="timeline-progress-bar" color="warn" mode="indeterminate"></md-progress-bar>

<div class="timeline-container">
  <div class="timeline-following">
    <md-list>
      <h3 md-subheader>Following</h3>

      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
    </md-list>
  </div>

  <div class="timeline-main">

    <!-- new post input  -->
    <md-input-container>
      <textarea mdInput class="timeline-post" cols="90" placeholder="Post something new" [(ngModel)]="postMessage"></textarea>
      <input type="file" id="imageFile" accept="image/*" style="display:none" (change)="postImageUpload(imageInput.files[0])" #imageInput>
      <label class="timeline-img-btn" mdInput for="imageFile" mdSuffix><md-icon>photo</md-icon></label>

      <md-hint align="end">
        <button md-button [disabled]="!(postMessage.length > 0 && postMessage.length < 255)" (click)="submitNewPost()">Post</button> {{postMessage.length}} / 255
      </md-hint>
    </md-input-container>

    <div [hidden]="hideImgPreview">
      <md-icon color="warn" style="cursor:pointer" (click)="removeImagePreview()">
        <img class="timeline-img-preview" id="img-preview" width="64px" height="64px">
        close
      </md-icon>
    </div>

    <!-- timeline post cards (hehe postcards) -->
    <md-card *ngFor="let post of postList">
      <md-card-header>
        <md-card-title>{{currentUsername}}</md-card-title>
        <md-card-subtitle>{{post.date | date:short}}</md-card-subtitle>
        <img src="/assets/test-avatar.png" md-card-avatar>
      </md-card-header>
      <img class="timeline-post-img" src={{post.imageurl}} md-card-image>
      <md-card-content>
        <p>{{post.message}}</p>
      </md-card-content>
      <md-card-actions>
        <div class="timeline-btn-row">
          <p class="timeline-labels">{{post.likes}} likes</p>

          <md-menu #postMenu="mdMenu">
            <div md-menu-item>
              <md-icon class="timeline-action" style="cursor:pointer">repeat</md-icon>
              <span>share</span>
            </div>
            <div md-menu-item>
              <md-icon class="timeline-action" style="cursor:pointer">report</md-icon>
              <span>report</span>
            </div>
          </md-menu>

          <md-icon class="timeline-action" style="cursor:pointer" (click)="likePost(post)">favorite_border</md-icon>
          <md-icon class="timeline-action" style="cursor:pointer">comment</md-icon>
          <button md-icon-button class="timeline-action-menu" [mdMenuTriggerFor]="postMenu">
            <md-icon style="cursor:pointer">more_horiz</md-icon>
          </button>
        </div>
      </md-card-actions>
    </md-card>

  </div>
  <div class="timeline-extra">
    <div class="post-btn-sticky">
      <button md-icon-button (click)="openPostDialog()"><md-icon>mode_edit</md-icon></button>
    </div>
  </div>
</div>