.timeline-progress-bar {
    margin: 5px 0px;
    z-index: 100;
}
div.timeline-container {
    position: fixed;
    top: 70px;
    bottom: 2px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
}
div.timeline-container md-card {
    margin: 25px 5px;
}
div.timeline-following {
    order: 1;
    flex: 1 1 auto;
    flex-basis: 10%;
    height: 100%;
    overflow-y: scroll;
    min-width: 64px;
}
div.timeline-btn-row {
    display: flex;
    flex-direction: row;
    border-top: 1px solid darkgray;
}
.timeline-btn-row .timeline-action {
    order: 2;
    min-width: 20px;
    margin: 0px;
    padding: 10px;
}
.timeline-btn-row .timeline-labels {
    order: 1;
    flex-grow: 1;
    padding: 0px 1px; 
    color: black;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
}
.timeline-action:hover {
    color: deeppink;
}
div.timeline-main {
    order: 2;
    flex-grow: 2;
    max-width: 700px;
    min-width: 490px;
    padding: 0px 5px; 
    height: 100%;
    overflow-y: scroll;
}
img.timeline-post-img {
    content: url('/assets/bee-hero.jpg');
    max-width: 700px;
    height: auto;
}
div.timeline-extra {
    order: 3;
    flex-grow: 1;
    flex-basis: 10%;
}
md-card-actions button {
    right: 0px;
}