<md-progress-bar *ngIf="showLoadingBar" class="timeline-progress-bar" color="warn" mode="indeterminate"></md-progress-bar>

<div class="timeline-container">
  <div class="timeline-following">
    <md-list>
      <h3 md-subheader>Following</h3>

      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>John</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Sue</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Ben</p>
      </md-list-item>
      <md-list-item>
        <img src="/assets/test-avatar.png" md-list-avatar>
        <p md-line>Billy goat</p>
      </md-list-item>
    </md-list>
  </div>

  <div class="timeline-main">
  
  <md-input-container>
    <textarea class="timeline-post" mdInput cols="90" rows="2" placeholder="Post something new" #postMessage></textarea>
    <md-icon mdSuffix (click)="postImageUpload()">photo</md-icon>
    <md-hint align="end">
      <button md-button (click)="openPostDialog(postMessage.value)">New post</button> {{postMessage.value.length}} / 255
    </md-hint>
  </md-input-container>

    <md-card>
      <md-card-header>
        <md-card-title>username123</md-card-title>
        <md-card-subtitle>a picture of a bumble bee!</md-card-subtitle>
        <img src="/assets/test-avatar.png" md-card-avatar>
      </md-card-header>
      <img class="timeline-post-img" md-card-image>
      <md-card-content>
        <p>tthis is the contentthis is the content this is the contentthis is the content this is the contenthis is the content</p>
      </md-card-content>
      <md-card-actions>
        <div class="timeline-btn-row">
          <p class="timeline-labels">1,234 likes</p>

          <button class="timeline-action" md-button><md-icon>favorite_border</md-icon></button>
          <button class="timeline-action" md-button><md-icon>comment</md-icon></button>
          <button class="timeline-action" md-button><md-icon>share</md-icon></button>
        </div>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-header>
        <md-card-title>username123</md-card-title>
        <md-card-subtitle>a picture of a bumble bee!</md-card-subtitle>
        <img src="/assets/test-avatar.png" md-card-avatar>
      </md-card-header>
      <img class="timeline-post-img" md-card-image>
      <md-card-content>
        <p>tthis is the contentthis is the content this is the contentthis is the content this is the contenthis is the content</p>
      </md-card-content>
      <md-card-actions>
        <div class="timeline-btn-row">
          <p class="timeline-labels">1,234 likes</p>

          <button class="timeline-action" md-button><md-icon>favorite_border</md-icon></button>
          <button class="timeline-action" md-button><md-icon>comment</md-icon></button>
          <button class="timeline-action" md-button><md-icon>share</md-icon></button>
        </div>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-header>
        <md-card-title>username123</md-card-title>
        <md-card-subtitle>a picture of a bumble bee!</md-card-subtitle>
        <img src="/assets/test-avatar.png" md-card-avatar>
      </md-card-header>
      <img class="timeline-post-img" md-card-image>
      <md-card-content>
        <p>tthis is the contentthis is the content this is the contentthis is the content this is the contenthis is the content</p>
      </md-card-content>
      <md-card-actions>
        <div class="timeline-btn-row">
          <p class="timeline-labels">1,234 likes</p>

          <button class="timeline-action" md-button><md-icon>favorite_border</md-icon></button>
          <button class="timeline-action" md-button><md-icon>comment</md-icon></button>
          <button class="timeline-action" md-button><md-icon>share</md-icon></button>
        </div>
      </md-card-actions>
    </md-card>

  </div>
  <div class="timeline-extra">
    <!-- extas -->
  </div>
</div>