<div class="card-container" *ngFor="let post of postList">
    <md-card>
        <md-card-header>
            <md-card-title>{{post.author}}</md-card-title>
            <md-card-subtitle>{{post.date | date:short}}</md-card-subtitle>
            <img src={{post.authoravatar}} md-card-avatar>
        </md-card-header>
        <img class="timeline-post-img" src={{post.imageurl}} md-card-image>
        <md-card-content>
            <p>{{post.message}}</p>
        </md-card-content>
        <md-card-actions>
            <div class="timeline-btn-row">
                <p class="timeline-labels">{{post.likes}} likes</p>

                <md-menu #postMenu="mdMenu">
                    <div md-menu-item>
                        <md-icon class="timeline-action" style="cursor:pointer">report</md-icon>
                        <span>report</span>
                    </div>
                </md-menu>

                <md-icon class="timeline-action" style="cursor:pointer" (click)="likePost(post)">favorite_border</md-icon>
                <button md-icon-button class="timeline-action-menu" [mdMenuTriggerFor]="postMenu">
            <md-icon style="cursor:pointer">more_horiz</md-icon>
          </button>
            </div>
        </md-card-actions>
    </md-card>

    <!-- <app-comment></app-comment> -->
    <md-expansion-panel class="comment-panel">
        <md-expansion-panel-header>
            <md-panel-title>
                Comments {{post.comments.length}}
            </md-panel-title>
        </md-expansion-panel-header>
        <md-input-container class="comment-input">
            <input mdInput type="text" placeholder="Something to say?" [(ngModel)]="commentMessage">
            <md-icon mdSuffix class="comment-submit" (click)="submitComment(post);">bookmark</md-icon>
        </md-input-container>
        <md-list class="comment-list">
            <md-list-item *ngFor="let comment of post.comments">
                {{comment.message}} - {{comment.date | date}}
            </md-list-item>
        </md-list>
    </md-expansion-panel>
</div>