<div class="card-container" *ngFor="let post of postList">
    <md-card>
        <md-card-header>
            <md-card-title>{{post.author}}</md-card-title>
            <md-card-subtitle>{{post.date | date:short}}</md-card-subtitle>
            <img src={{post.authoravatar}} md-card-avatar>
        </md-card-header>
        <img class="timeline-post-img" src={{post.imageurl}} md-card-image>
        <md-card-content>
            <p>{{post.message}}</p>
        </md-card-content>
        <md-card-actions>
            <div class="timeline-btn-row">
                <p class="timeline-labels">{{post.likes}} likes</p>

                <md-menu #postMenu="mdMenu">
                    <div md-menu-item>
                        <md-icon class="timeline-action" style="cursor:pointer">report</md-icon>
                        <span>report</span>
                    </div>
                </md-menu>

                <md-icon class="timeline-action" style="cursor:pointer" (click)="likePost(post)">favorite_border</md-icon>
                <button md-icon-button class="timeline-action-menu" [mdMenuTriggerFor]="postMenu">
            <md-icon style="cursor:pointer">more_horiz</md-icon>
          </button>
            </div>
        </md-card-actions>
    </md-card>

    <app-comment></app-comment>
</div>