<md-toolbar *ngIf="navBar.loginNavBar" class="navigation-bar" color="primary">
    <img class="navbar-image">
    <span>hive</span>
    <span class="fill-remaining-space"></span>

    <md-menu [overlapTrigger]="false" #navMenu="mdMenu">
        <a routerLink="/newuser" routerLinkActive="active" md-menu-item>
            <md-icon>person_add</md-icon> New user</a>
        <a routerLink="/blah" routerLinkActive="active" md-menu-item>
            <md-icon>security</md-icon>Forgot password</a>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="navMenu">
        <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<md-toolbar *ngIf="navBar.userNavBar" class="navigation-bar" color="primary">
    <div class="userbar-container">
        <nav md-tab-nav-bar class="userbar-tabs">
            <a md-tab-link routerLink="/{{currentUsername}}" routerLinkActive="true">
                <md-icon class="nav-icon">home</md-icon>Home</a>
            <a md-tab-link routerLink="/profile/{{currentUsername}}" routerLinkActive="true">
                <md-icon class="nav-icon">settings</md-icon>Settings</a>
        </nav>

        <img class="userbar-image" src="/assets/bee-color.png">
        <div class="userbar-extra">
            <md-menu #notificationMenu="mdMenu" [overlapTrigger]="false">
                <md-list>
                    <md-list-item>
                        no notifications
                    </md-list-item>
                </md-list>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="notificationMenu">
                <md-icon [ngClass]="{ 'notification-icon': activeNotifications }">notifications</md-icon>
            </button>
        </div>
    </div>
</md-toolbar>
