<md-toolbar color="primary">
    <img class="navbar-image">
    <span>"Name"</span>
    <span class="fill-remaining-space"></span>

    <md-menu [overlapTrigger]="false" #navMenu="mdMenu">
        <a routerLink="/newuser" routerLinkActive="active" md-menu-item><md-icon>person_add</md-icon> New user</a>
        <a routerLink="/blah" routerLinkActive="active" md-menu-item><md-icon>security</md-icon>Forgot password</a>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="navMenu">
        <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>