<h2 class="post-dialog-title" md-dialog-title>Compose a new post</h2>
 <md-dialog-content>
  <md-input-container class="post-dialog-message">
    <textarea class="post-area" mdInput spellcheck="true" role="textbox" rows="4" placeholder="message" value={{postMessage}} #postArea></textarea>
    <md-hint align="end">{{postArea.value.length}} / 255</md-hint>
  </md-input-container>
</md-dialog-content>
<div class="action-area">
  <md-icon class="action-image" (click)="selectImage();">photo</md-icon>
  <div class="action-space"></div>
  <button class="action-post" color="primary" md-raised-button md-dialog-close>Post</button>
</div> 