md-grid-tile-header.cell-header {
    color: dimgray;
    background: none;
    border-bottom: 1px solid black;
}
md-grid-tile-header.cell-header > h3 {
    font-size: 24px;
    font-weight: bold;
}
md-grid-tile-footer.cell-footer {
    color: dimgray;
    background: none;
}
.login-btn-right {
    position: absolute;
    right: 0;
    text-align: center;
    border-bottom: 0.5px solid gray;
}
.login-remember {
    color: gray;
}
/* .window-dim {
    opacity: 0.15;
} */