<div class="newuser-container">
    <div class="newuser-left">
        <h3 class=newuser-header>Join hive today</h3>

        <form [formGroup]="newUserForm" (ngSubmit)="createUser()">
            <md-list>
                <md-list-item>
                    <md-input-container class="fill-width">
                        <input type="text" placeholder="Full name" formControlName="fullname" mdInput>
                    </md-input-container>
                </md-list-item>
                <br />
                <md-list-item>
                    <md-input-container class="fill-width">
                        <input type="email" placeholder="Email" formControlName="email" mdInput>
                    </md-input-container>
                </md-list-item>
                <br />
                <md-list-item>
                    <md-input-container class="fill-width">
                        <input type="text" placeholder="User name" formControlName="username" mdInput>
                    </md-input-container>
                </md-list-item>
                <br />
                <md-list-item>
                    <md-input-container class="fill-width">
                        <input type="password" placeholder="Password" formControlName="password" mdInput>
                        <md-hint align="start">Minimum of 6 characters long</md-hint>
                    </md-input-container>
                </md-list-item>
                <md-list-item> 
                    <button class="newuser-button" type="submit" [disabled]="!newUserForm.valid" md-button>Join</button>
                </md-list-item>
            </md-list>

        </form>
    </div>

    <div class="newuser-right"></div>
</div>